
@import "tailwindcss";

@font-face {
    font-family: 'nutino';
    src: url('/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'archivo';
    src: url('/fonts/ArchivoBlack-Regular.ttf');
}

* {
    font-family: 'nutino';
}

body {
    margin: 0;
    color: #040c2c
}

body::before {
content: "";
position: fixed;
inset: 0;
background: url("bg.jpg") center cover no-repeat;
index: -1;
}

button:hover {
    cursor: pointer
}

.nutino {
    font-family: 'nutino'
}

.archivo {
    font-family: 'archivo'
}
