
@import "tailwindcss";

@font-face {
    font-family: 'nutino';
    src: url('/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'archivo';
    src: url('/fonts/ArchivoBlack-Regular.ttf');
}

* {
    font-family: 'nutino';
}

:root {
    color-scheme: light;
}

html {
    color-scheme: light;
}


body {
    margin: 0;
    color: #040c2c
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url("/bg.jpg") center center / cover no-repeat;
    z-index: -1;
}

button:hover {
    cursor: pointer
}

.nutino {
    font-family: 'nutino'
}

.archivo {
    font-family: 'archivo'
}
