
@import "tailwindcss";

@font-face {
    font-family: 'nutino';
    src: url('/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'archivo';
    src: url('/fonts/ArchivoBlack-Regular.ttf');
}

* {
    font-family: 'nutino';
}

body {
    background-image: url('/images/white-grid.jpg');
    background-size: cover;
    background-repeat: repeat;
    color: #040c2c
}

button:hover {
    cursor: pointer
}

.nutino {
    font-family: 'nutino'
}

.archivo {
    font-family: 'archivo'
}
